<h1>Plans#index</h1>
<%= link_to "Home", root_path %>

<ul>Options
	<li>Create a new exercise plan:
		<%= form_for(@plan) do |f| %>
			<%= f.hidden_field :user_id, {value: current_user.id} %>
			<%= f.submit %>
		<% end %>	
	</li>
</ul>

<% if @plans.length > 0 %>
	<ul>Exercise plans
		<% @plans.each do |plan| %>

			<ul>Plan ID: <%= plan.id %>
				<%= button_to "Delete plan", plan_path(plan), method: :delete %>
				<ul>Add macrocycle to plan
					<%= form_for(@macrocycle) do |f| %>
					<li>
						Title: <%= f.text_field :title %>
					</li>		
						<%= f.hidden_field :plan_id, {value: plan.id} %>
					<li>
						<%= f.submit %>
					</li>
					<% end %>
				</ul>
			</ul>

			<ul>Plan <%= plan.id %> Macrocycles
				<% plan.macrocycles.each do |macrocycle| %>
					<ul>Macrocycle ID: <%= macrocycle.id %>
						<li>
							Title: <%= macrocycle.title %>
						</li>
						<li>
						<%= button_to "Delete macrocycle", macrocycle_path(macrocycle), method: :delete %>
						</li>
						<li>
							<ul>Add mesocycle to macrocycle <%= macrocycle.id %>
								<%= form_for(@mesocycle) do |f| %>
								<li>
									Title: <%= f.text_field :title %>
								</li>
									<%= f.hidden_field :macrocycle_id, {value: macrocycle.id} %>
								<li>
									<%= f.submit %>
								</li>
								<% end %>
							</ul>
						</li>
						
						<li>
							<ul>Mesocycles
								<% macrocycle.mesocycles.each do |mesocycle| %>
								<ul>Mesocycle ID: <%= mesocycle.id %>
									<li>
										Title: <%= mesocycle.title %>
									</li>
									<li>
										<%= button_to "Delete mesocycle", mesocycle_path(mesocycle.id), method: :delete %>
									</li>
								</ul>
								<% end %>
							</ul>
						</li>
					</ul>
				<% end %>
			</ul>

		<% end %>
	</ul>
<% else %>
	No plans exist!
<% end %>

<div id="works">
</div>