<h1>Plans#index</h1>
<%= link_to "Home", root_path %>

<ul>Options
	<li>Create a new exercise plan:
		<%= form_for(@plan) do |f| %>
			<%= f.hidden_field :user_id, {value: current_user.id} %>
			<%= f.submit %>
		<% end %>	
	</li>
</ul>

<% if @plans.length > 0 %>
	<%= render 'plan' %>
<% else %>
	No plans exist!
<% end %>

<div id="works">
</div>