<!DOCTYPE html>
<html>
<head>
  <title>ExercisePlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
<ul class="nav nav-pills">
	<li role="presentation" class="active"><%= link_to 'Edit profile', edit_user_registration_path %></li>
	<li role="presentation" class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	<li role="presentation" class="active"><%= link_to "View my exercise plans", plans_path(current_user) %></li>
</ul>

<% else %>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to "Sign up", new_user_registration_path %></li>
  <li role="presentation" class="active"><%= link_to "Login", new_user_session_path  %></li>
</ul>
<% end %>

<%= yield %>

</body>
</html>
